// Color Scheme
$primary: #273043;
$secondary: #00B2CA;

// Override bootstrap 4 color variables
$blue: #1E1A63;
// $indigo: #536dfe;
// $purple: #9c27b0;
// $pink: #ff4081;
// $red: #f44336;
// $orange: #ff9800;
// $yellow: #ffeb3b;
$green: #23CE6B;
// $teal: #009688;
// $cyan: #00bcd4;
$white: #fff;
