$font-display: 'McLaren';
$font-main: 'Comfortaa';
$font-size-base: 16px;
$font-size-large: 1.15rem;
$font-size-xlarge: 1.5rem;

.text-muted {
  font-weight: 200;
}

.font-lg {
  font-size: $font-size-large;
}
