/* Combine Stylesheets */
@import
  "themes/fonts",
  "themes/colors",
  "components/post",
  "components/buttons",
  "components/footer",
  "components/navbar",
  "components/jumbotron",
  "components/categories";


/* Base Styles */
html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

.root,
body,
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-main;
  font-size: $font-size-base;
  line-height: 1.5;

  h2,
  h3 {
    color: $secondary;
    font-family: $font-display;
  }

  a {
    text-decoration: none !important;
  }
}
