.btn-add:hover {
  color: $white !important;
  background-color: darker($green, 50%) !important;
}

.btn-delete,
.btn-edit,
.btn-vote {
  font-size: $font-size-xlarge;
  line-height: $font-size-xlarge;
}

.btn-cancel,
.btn-delete,
.btn-edit,
.btn-link {
  color: $primary !important;
  background-color: $white !important;

  :hover {
    color: $secondary !important;
  }
}

.btn-add,
.btn-submit,
.btn-success {
  border-color: $primary;
  background-color: $green !important;

  :hover {
    color: $white !important;
    background-color: darker($green, 10%) !important;
  }
}
