.jumbotron {
  height: 400px;
  background-image: url('../../images/hero.jpg');
  background-position: bottom top;
  width: 100%;
  opacity: 0.8;
}

.welcome {
  background: #00B2CA;
  transform: rotate(-5deg);
  box-shadow: 8px 8px;
  font-family: $font-display !important;
}
