/* Combine Stylesheets */
.text-muted {
  font-weight: 200; }

.font-lg {
  font-size: 1.15rem; }

.card-title {
  color: #1E1A63;
  font-family: "McLaren";
  font-size: 1.5rem; }

.btn-add:hover {
  color: #fff !important;
  background-color: darker(#23CE6B, 50%) !important; }

.btn-delete,
.btn-edit,
.btn-vote {
  font-size: 1.5rem;
  line-height: 1.5rem; }

.btn-cancel,
.btn-delete,
.btn-edit,
.btn-link {
  color: #273043 !important;
  background-color: #fff !important; }
  .btn-cancel :hover,
  .btn-delete :hover,
  .btn-edit :hover,
  .btn-link :hover {
    color: #00B2CA !important; }

.btn-add,
.btn-submit,
.btn-success {
  border-color: #273043;
  background-color: #23CE6B !important; }
  .btn-add :hover,
  .btn-submit :hover,
  .btn-success :hover {
    color: #fff !important;
    background-color: darker(#23CE6B, 10%) !important; }

footer {
  background-color: #273043 !important; }
  footer a {
    color: #fff !important; }

.navbar {
  background-color: #273043 !important; }

.jumbotron {
  height: 400px;
  background-image: url("../../images/hero.jpg");
  background-position: bottom top;
  width: 100%;
  opacity: 0.8; }

.welcome {
  background: #00B2CA;
  transform: rotate(-5deg);
  box-shadow: 8px 8px;
  font-family: "McLaren" !important; }

.card-header {
  color: #fff;
  background-color: #00B2CA;
  font-family: "McLaren"; }

a :hover {
  color: #00B2CA !important; }

a li {
  color: #1E1A63 !important; }

/* Base Styles */
html {
  box-sizing: border-box; }

*,
*:after,
*:before {
  box-sizing: inherit; }

.root,
body,
html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa";
  font-size: 16px;
  line-height: 1.5; }
  body h2,
  body h3 {
    color: #00B2CA;
    font-family: "McLaren"; }
  body a {
    text-decoration: none !important; }
